services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    volumes:
      - ./public:/var/www/html/public
      - ./src:/var/www/html/src
      - ./templates:/var/www/html/templates
      - ./migrations:/var/www/html/migrations
    depends_on:
      database:
        condition: service_healthy
    environment:
      DATABASE_URL: "postgresql://quentin:bdd77@database:5432/click_and_cook"

  database:
    image: postgres:16
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./dump.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      POSTGRES_DB: click_and_cook
      POSTGRES_USER: quentin
      POSTGRES_PASSWORD: bdd77
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U quentin -d click_and_cook"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8081:80" 
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - database

volumes:
  postgres_data:
  pgadmin_data:
